<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pbrLightingTextured.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE84DB7D2A2A0CFF00EEF2A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE88EDCF2C79E0D80097E746</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEB320092CCF449F00FCD5F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEB320212CCF44C500FCD5F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
